.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

nav a {
  color: black;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: orange !important;
}

.signout-btn {
  background: transparent;
  color: black;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.signout-btn:hover {
  color: orange;
  background-color: transparent;
}
